<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669650484005-dms1epe5fgs1295678t34a42kvd46frf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669650484005-dms1epe5fgs1295678t34a42kvd46frf</string>
	<key>API_KEY</key>
	<string>AIzaSyCjvv7xazUYvHiuTyW1O77gPT8uy6hC32I</string>
	<key>GCM_SENDER_ID</key>
	<string>669650484005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maps</string>
	<key>PROJECT_ID</key>
	<string>seguridadtrujillo-b3a7c</string>
	<key>STORAGE_BUCKET</key>
	<string>seguridadtrujillo-b3a7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669650484005:ios:0d310f8f87d9cb90ce78cc</string>
</dict>
</plist>